## .NET Artifacts (Derleme Dosyaları)
bin/
obj/

## JetBrains Rider & Visual Studio Settings
.idea/
*.sln.DotSettings.user
*.suo
*.user

## macOS Specific (Mac kullandığın için DS_Store kesinlikle kalmalı)
.DS_Store
.DS_Store?
._*